@model IoTAsema.Models.commands

@{
    ViewBag.Title = "Details";
}

<h2>Tiedot</h2>

<div>
    <h4>Komennot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Command)</dt>
        <dd>@Html.DisplayFor(model => model.Command)</dd>
        <dt>@Html.DisplayNameFor(model => model.Executed)</dt>
        <dd>@Html.DisplayFor(model => model.Executed)</dd>
        <dt>@Html.DisplayNameFor(model => model.devices.Device)</dt>
        <dd>@Html.DisplayFor(model => model.devices.Device)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.CommandID }) |
    @Html.ActionLink("Takaisin", "Index")
</p>
