@model IEnumerable<IoTAsema.Models.commands>

@{
    ViewBag.Title = "Index";
}

<h2>Komennot</h2>
<p>Etäohjaus IoT-laitteelle. Laitteen on oltava päällä ja sovellus käynnissä. Sovellus "kuuntelee" tätä sivua ja kun asetat "TempOn + executed", laite aloittaa mittauksen.</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Command)</th>
        <th>@Html.DisplayNameFor(model => model.Executed)</th>
        <th>@Html.DisplayNameFor(model => model.devices.Device)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Command)</td>
        <td>@Html.DisplayFor(modelItem => item.Executed)</td>
        <td>@Html.DisplayFor(modelItem => item.devices.Device)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommandID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommandID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommandID })
        </td>
    </tr>
}

</table>
